body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.article-container {
  background: {
    color: hsl(0, 100%, 98%);
    image: url("../app/images/bg-pattern-desktop.svg");
    repeat: no-repeat;
    size: cover;
  }
  min-height: 100vh;
}

.apparel-container {
  margin: 3rem auto 0;
  max-width: 450px;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.hero {
  width: 100%;
  object-fit: cover;
}

.apparel-title {
  color: var(--neutral-dark-grayish-red);
  font-weight: var(--fw-600);
  font-size: 4rem;
  letter-spacing: 1rem;
  line-height: 1;
  margin: 5rem 0 1rem;
  text-transform: uppercase;
}

.apparel-sub {
  color: var(--primary-desaturated-red);
  font-weight: var(--fw-300);
}

.apparel-text,
a {
  color: var(--primary-desaturated-red);
}

// button
.arrow-icon i {
  transform: rotate(90deg);
  color: hsl(0, 100%, 98%);
  font-size: 1.3rem;
}
