body {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

.article-container {
  background: {
    color: hsl(0, 100%, 98%);
    image: url("../app/images/bg-pattern-desktop.svg");
    repeat: no-repeat;
    size: cover;
  }
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.hero {
  width: 100%;
  object-fit: cover;
}

.apparel-title {
  color: var(--neutral-dark-grayish-red);
  font-weight: var(--fw-600);
  letter-spacing: 3px;
  line-height: 1;
  text-transform: uppercase;
}

.apparel-sub {
  color: var(--primary-desaturated-red);
  font-weight: var(--fw-300);
}
