@media only screen and (min-width: 48rem) {
  .hero {
    height: 100vh;
  }

  // form
  input.form-control {
    width: 100%;
    min-width: 420px;
    border: 1px solid var(--primary-desaturated-red);
    color: var(--neutral-dark-grayish-red);
  }

  button.form-control {
    background: var(--linearTwo);
    border: none;
    cursor: pointer;
    position: absolute;
    width: 80px;
    right: -1rem;
  }
}

@media only screen and (max-width: 48rem) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }

  .article-container img {
    display: none;
  }

  .base-apparel-logo {
    background: {
      image: url(../app/images/logo.svg);
      repeat: no-repeat;
    }
    margin: 2rem;
    padding: 1rem;
  }

  .article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .apparel-title {
    font-size: 3rem;
    margin: 3.5rem 0 1rem;
  }

  .apparel-sub {
    color: var(--primary-desaturated-red);
    font-weight: var(--fw-300);
  }

  .apparel-text {
    margin: 0 1rem;
  }

  // form
  #form {
    justify-content: center;
  }
  .form-control {
    padding: 0.5rem;
    border-radius: 20rem;
  }
  input.form-control {
    width: 270px;
    border: 1px solid var(--primary-desaturated-red);
    color: var(--neutral-dark-grayish-red);
  }

  button.form-control {
    background: var(--linearTwo);
    border: none;
    cursor: pointer;
    width: 80px;
    position: absolute;
    right: -1rem;
  }
  .error-image {
    position: absolute;
    top: 0.45rem;
    right: 4rem;
  }
}
